.roomMessageReaction {
  span {
    transition: 350ms ease all;
    display: inline-block;
    border: 1px solid #666;
    width: fit-content;
    height: 25px;
    padding: 0 4px;
    border-radius: 4px;
    text-align: center;
    margin-right: 5px;
    font-size: 14px;
    background: #FCFCFC;
    cursor: pointer;
    vertical-align: top;

    &:hover, &:active {
      background-color: #FFF !important;
    }

    &::after {
      content: attr(data-count);
      padding-left: 3px;
      font-size: 12px;
      color: #888;
    }

    &:global(.selected) {
      border-color: #1c58d9;
      background-color: rgba(28, 88, 217, 0.08);
    }
  }

}
